#  28-10-2023 

# Documantation of (sets, methods of sets and Dictonaries)

##  sets

###  sets are a cluster of heterogeneous data valus they are't orderd
##### we declare sets by using{]
##### sets dont't have duplicate values
#####      we can use set class to perform type casting
#####      sets have methods that are unique

### how to create an empty set

In [40]:
x = set()
print(x, type(x), len(x),hex(id(x)), sep = '\n')

set()
<class 'set'>
0
0x1ffe701aea0

In [58]:
x, y = (1, 2.2, 3+3j , 'four' , print, range, True),set ([1, 2.2, 3+3j, 'four', print,])
print(x,type(x), len(x),hex(id(x)), sep = '\n')
print(y,type(y), len(y),hex(id(y)), sep = '\n')

(1, 2.2, (3+3j), 'four', <built-in function print>, <class 'range'>, True)
<class 'tuple'>
7
0x1ffe730dae0
{1, 2.2, <built-in function print>, (3+3j), 'four'}
<class 'set'>
5
0x1ffe701bca0

In [19]:
a = {1,1,1,2,2,2}
a

{1, 2}

# methods of sets

In [38]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [27]:
x = (1,2,3,4,5)
x

{1, 2, 3, 4, 5}

### add()

####  in this will add a specific value to the set

In [29]:
x.add(6)     # x = (1,2,3,4,5)
x

{1, 2, 3, 4, 5, 6}

### update()

In [ ]:
it will be ubdate the old set and give the new set with update

example

In [30]:
x.update((5,15))                  # x = (1,2,3,4,5)
x

{1, 2, 3, 4, 5, 6, 15}

### remove()

#### it will be remove the specific character in set

In [26]:
my_set = {1, 2, 3, 4}
my_set.remove(3)
my_set

{1, 2, 4}

### discard()

 #### is used to remove a specified element from a set.

 #### If the element is present in the set, it is removed; if the element is not in the set, discard() does nothing and does not raise an error.

In [29]:
my_set = {1, 2, 3, 4, 5}

                                       # Remove an element from the set
my_set.discard(3) 
my_set

{1, 2, 4, 5}

In [33]:
x.discard(9)
x

{1, 2, 3, 4, 5, 6, 15}

### pop()

#### method is not a valid operation on sets because sets are unordered collections of unique elements, and there is no concept of indexing or order in a set

In [34]:
a = x.pop()
a,x

(1, {2, 3, 4, 5, 6, 15})

### clear()

 #### method is used with sets to remove all the elements from the set, effectively making it an empty set.

 #### This method is used to clear the content of the set without deleting the set itself.

In [15]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()

print(my_set)

set()

In [35]:
x.clear()
x

set()

In [36]:
x

set()

In [45]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = set(range(1,9))
d = {'a','b','c'}

print(a,b,c,d,sep = '\n')

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{'a', 'b', 'c'}

### isdisjoint()

In [46]:
a.isdisjoint(b)

False

### issuperset()

In [47]:
c.issuperset(a)

True

### issubset()

In [49]:
a.issubset(c)

True

### intersection()

 #### is used to return a new set that contains the elements that are common to two or more sets.

#### The intersection of sets is a new set that contains only the elements that are present in all of the sets involved.

In [12]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = {4, 6, 7, 8}

result_set = set1.intersection(set2, set3)

print(result_set)

{4}

In [14]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = {4, 6, 7, 8}

result_set = set3.intersection(set1, set2)              # how we change the set !,set2, set3, also same result

print(result_set)

{4}

In [53]:
a.intersection(b)                  #a = {1,2,3,4,5}
                                   #b = {4,5,6,7,8}
                                   #c = set(range(1,9))
                                   #d = {'a','b','c'}

{4, 5}

In [61]:
a.intersection_update(b)

In [52]:
a.intersection(d)

set()

### union()

#### is used to return a new set that contains all the unique elements from two or more sets.

In [11]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

result_set = set1.union(set2, set3)

print(result_set)

{1, 2, 3, 4, 5, 6, 7}

In [51]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

### difference()

 #### this method can be used to find the set difference between two sets.

 #### It returns a new set containing the elements that are in the first set but not in the second set.

In [10]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

result_set = set1.difference(set2)

print(result_set)

{1, 2}

In [56]:
a.difference(b)                                           #a = {1,2,3,4,5}
                                                          #b = {4,5,6,7,8}
                                                          #c = set(range(1,9))
                                                          #d = {'a','b','c'}

{1, 2, 3}

In [55]:
b.difference(a)

{6, 7, 8}

### symmetric difference

#### that returns a new set containing elements that are unique to each of the input sets.

In [9]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

result_set = set1.symmetric_difference(set2)

print(result_set)

{1, 2, 5, 6}

In [57]:
a.symmetric_difference(b), b.symmetric_difference(a)              # in this not showing the common characters

({1, 2, 3, 6, 7, 8}, {1, 2, 3, 6, 7, 8})

### symmetric_difference_update()

#### that is used to update a set by removing elements that are present in both the set on which the method

##### and adding elements that are present in the other set but not in the original set

In [2]:
y1 = {1, 2, 3, 4}
y2 = {3, 4, 5, 6}

y1.symmetric_difference_update(y2)

print(y1)

{1, 2, 5, 6}

In [3]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = set(range(1,9))
d = {'a','b','c'}

print(a,b,c,d,sep = '\n')

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{'b', 'a', 'c'}

##  Dictonaries

### dictonaries are key & value paris enclosed in {}
 
 ##### key and value are seperated by (:) while key and values pairs are seperated by (,)
 ##### keys are mapped to there values
 ##### in dictonaries , keysare unique,we can't have duplicate keys.we can haveduplicate values
 ##### dictionaries are unordered and mutable . keys of dictonaries canbe used to iterate over values
 ##### {} is an empty dictionary
 ##### dict is class 0f dictionary

In [73]:
x = {1:[1,2,3],
     'hello':(4,5,6),
     'hello': ['hi']}
x

{1: [1, 2, 3], 'hello': ['hi']}